<% @page_title = @industria["razon_social"] %>

<div id='main' role='main' class='content entity'>

  <div class='main'>
    <h1>
      <%= @industria["razon_social"] %>
    </h1>

    <p>Datos provistos por ACUMAR con fecha 01/03/2013</p>

    <h2>Datos Generales</h2>

    <table class='info'>
      <tr>
        <td>Nombre</td>
        <td><%= @industria["razon_social"] %></td>
      </tr>
      <tr>
        <td>Rubro</td>
        <td><%= @industria["rubro_id"] %></td>
      </tr>
      <tr>
        <td>Productos</td>
        <td><%= join_cols(@industria, :producto) %></td>
      </tr>
      <tr>
        <td>Dirección</td>
        <td><%= @industria["calle"] %> <%= @industria["nro_calle"] %><br>
          <%= @industria["localidad_real"] %>, <%= @industria["partido_real"] %>
        </td>
      </tr>
      <tr>
        <td>CUIT</td>
        <td><%= @industria["cuit"] %></td>
      </tr>
      <tr>
        <td>CURT</td>
        <td><%= @industria["curt"] %></td>
      </tr>
      <tr>
        <td>Actividad</td>
        <td>
          <%= join_cols(@industria, :actividad) %>
        </td>
      </tr>
      <tr>
        <td>Sitio web</td>
        <td>
          <% if not @industria["sitio_web"].empty? and @industria["sitio_web"] != '-' %>
          <a href='<%= @industria["sitio_web"] %>' target='_blank'><%= @industria["sitio_web"] %></a>
          <% else %>
          No informado
          <% end %>
        </td>
      </tr>

    </table>

    <!-- h2>Datos del Establecimiento</h2>
    <table class='info'>

      <tr>
        <td>Actividad</td>
        <td>
          <%= join_cols(@industria, :actividad) %>
        </td>
      </tr>

      <tr>
        <td>Dimensión</td>
        <td>
          <table>
            <tr>
              <td>Personal de oficina</td>
              <td><%= @industria["personal_oficina"] %></td>
            </tr>

            <tr>
              <td>Personal de fábrica</td>
              <td><%= @industria["personal_fabrica"] %></td>
            </tr>

            <tr>
              <td>Superficie total</td>
              <td><%= @industria["superficie_total"] %> m²</td>
            </tr>

            <tr>
              <td>Superficie cubierta</td>
              <td><%= @industria["superficie_cubierta"] %> m²</td>
            </tr>

            <tr class='no-border'>
              <td>Consumo eléctrico</td>
              <td><%= @industria["consumo_electricidad"] %> HP</td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>Efluentes</td>
        <td>
          <table>
            <tr>
              <td>Líquidos</td>
              <td><%= yesno @industria["vertido_de_efluentes"] %></td>
            </tr>

            <tr>
              <td>Gaseosos</td>
              <td><%= yesno @industria["emisiones_gaseosas"] %></td>
            </tr>

            <tr>
              <td>Patogénicos</td>
              <td><%= yesno @industria["residuos_patogenicos"] %></td>
            </tr>
          </table>
        </td>
      </tr>


      <tr>
        <td>Localización</td>
        <td>
          <table>
            <tr class='no-border'>
              <td>Zona industrial</td>
              <td><%= @industria["zona_industrial"] %></td>
            </tr>
          </table>
        </td>
      </tr>


      <tr>
        <td>Datos complementarios</td>
        <td>
          <table>
            <tr class='no-border'>
              <td>Consumo de agua</td>
              <td><%= @industria["agua_consumo"] %></td>
            </tr>

            <tr class='no-border'>
              <td>Gestión ambiental</td>
              <td><%= yesno @industria["gestion_ambiental"] %></td>
            </tr>

            <tr class='no-border'>
              <td>Aptitud ambiental</td>
              <td>
                <%= yesno @industria["aptitud_ambiental"] %>
                <%= "(#{@industria["aptitud_ambiental_caba"]})" unless @industria["aptitud_ambiental_caba"].empty? %>
              </td>
            </tr>

            <tr class='no-border'>
              <td>Agua Subterranea</td>
              <td>
                <%= yesno @industria["agua_subterranea"] %>
              </td>
            </tr>

            <tr class='no-border'>
              <td>Colector Cloacal</td>
              <td>
                <%= yesno @industria["colector_cloacal"] %>
              </td>
            </tr>

            <tr class='no-border'>
              <td>Acopio Peligroso</td>
              <td>
                <%= yesno @industria["acopio_peligroso"] %>
              </td>
            </tr>

            <tr class='no-border'>
              <td>Tanques Subterraneos</td>
              <td>
                <%= yesno @industria["tanques_subterraneos"] %>
              </td>
            </tr>

            <tr class='no-border'>
              <td>Tanques Aereos</td>
              <td>
                <%= yesno @industria["tanques_aereos"] %>
              </td>
            </tr>

            <tr class='no-border'>
              <td>Tanques Otras sustancias</td>
              <td>
                <%= yesno @industria["tanques_otras_sustancias"] %>
                <%= "(#{@industria["otras_sustancias_detalle"]})" unless @industria["otras_sustancias_detalle"].empty? %>
              </td>
            </tr>

            <tr class='no-border'>
              <td>Sustancias Peligrosas</td>
              <td>
                <%= yesno @industria["sustancias_peligrosas"] %>
                <%= "(#{@industria["sustancias_detalle"]})" unless @industria["sustancias_detalle"].empty? %>
                <%= "(#{@industria["acopio_sustancias"]})" unless @industria["acopio_sustancias"].empty? %>
              </td>
            </tr>

            <tr class='no-border'>
              <td>Transformadores</td>
              <td>
                <%= yesno @industria["transformadores"] %>
                <%= "(#{@industria["cantidad_transformadores"]})" unless @industria["cantidad_transformadores"].empty? %>
              </td>
            </tr>

          </table>
        </td>
      </tr>

    </table -->
  </div>

  <div class='sidebar'>
    <section class="estado-legal">
      <h2>Estado legal</h2>

      <div class='badge bad'>
        Agente contaminante desde <strong><%= @industria["fecha"] %></strong>
      </div>

      <% if !@industria["pri"].empty? %>
        <div class='badge medium'>
          Presento PRI el <strong><%= @industria["pri"] %></strong>
        </div>
      <% end %>

      <% if !@industria["reconvertida"].empty? %>
        <div class='badge ok'>
          Reconvertida el <strong><%= @industria["reconvertida"] %></strong>
        </div>
      <% end %>
    </section>

    <section class='location'>
    <h2>Ubicación</h2>

    <div class='zoomed-map' data-location='<%= @industria["location"] %>'></div>

    <%= @industria["calle"] %>
    <%= @industria["nro_calle"] %>
    <br>
    <%= @industria["localidad_real"] %>, <%= @industria["partido_real"] %>
    </section>

  </div>

</div>
